:root {
  --defaultBackground: #008080;
  --navbarWidth: 15%;
  --landingPageColor: rgb(226, 226, 226);
}

h2 {
  font-size: 50px;
}
h3 {
  font-size: 30px;
}
h4 {
  font-size: 20px;
}
p {
  color: var(--defaultBackground);
}
a {
  text-decoration: none;
  max-width: fit-content;
}

/******** Landing Page Styling ********/
.landingPage {
  background-color: var(--landingPageColor);
  display: flex;
  position: fixed;
  min-height: fit-content;
  height: 100%;
  width: 100%;
}

@media (min-width: 1px) {
  h1 {
    font-size: 40px;
  }
  .landingPage {
    flex-direction: column;
  }
  .landingDiv {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
  }
}
@media (min-width: 750px) {
  h1 {
    font-size: 60px;
  }
  .landingPage {
    flex-direction: row;
  }
  .landingDiv {
    position: relative;
    width: 50%;
    height: 100%;
  }
}

/******* Login/Sign up *******/
.landingForm {
  display: flex;
  flex-direction: column;
}

.landingInput {
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin: 10px;
}

.Btn {
  color: white;
  border: thin solid rgb(158, 158, 158);
  border-radius: 5px;
  background-color: var(--defaultBackground);
  padding: 5px;
  margin: 10px;
  font-size: 20px;
  padding: 10px;
}

/******** Header Styling ********/
header {
  height: 80px;
  background-color: var(--defaultBackground);
  color: white;
}
.headerDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 0px 30px 0px 30px;
  height: 100%;
}

.headerText {
  color: white;
}

.headerText :hover {
  color: black;
}
/********* Navbar Styling *********/
.navbar {
  padding-top: 50px;
  background-color: rgb(230, 230, 230);
  position: absolute;
  height: 10000px;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  width: var(--navbarWidth);
  text-align: center;
}

.navLink {
  color: black;
  padding: 10px;
}
.navLink :hover {
  color: var(--defaultBackground);
}

.secondDiv {
  position: fixed;
  bottom: 30px;
  width: var(--navbarWidth);
}
/********* Dashboard Styling *********/
.dashboard {
  position: relative;
  left: var(--navbarWidth);
  width: 85%;
  min-height: 700px;
  display: flex;
  justify-content: center;
}

/********* Create Event Styling ***********/
.createEvent {
  height: fit-content;
  width: 80%;
  border: thin solid grey;
  border-radius: 5px;
  margin: 20px;
  padding: 20px;
}

.eventLabel {
  font-size: 20px;
  font-weight: 700;
  margin: 10px 0px 5px 0px;
}

.eventInput {
  font-size: 20px;
  border: thin solid rgb(233, 233, 233);
  border-bottom: 3px solid var(--defaultBackground);
  border-radius: 5px;
  padding: 5px;
}

/******** Logout & Settings Styling ********/
.logout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: 80%;
  border: thin solid grey;
  border-radius: 5px;
  margin: 20px;
  padding: 20px;
}
.logout > p {
  font-size: 20px;
}

/******* Your Events Page *******/
.eventsDiv {
  margin: 20px;
  width: 80%;
  height: fit-content;
  width: 80%;
  border-radius: 5px;
  margin: 20px;
  padding: 20px;
}

.eventsDiv > p {
  font-size: 20px;
  text-align: center;
}

.yourEvents {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.eventDiv {
  height: 250px;
  width: 250px;
  background-color: var(--landingPageColor);
  margin: 20px;
  padding-bottom: 5px;
  border-radius: 10px;
  transition: 0.2s;
  overflow: scroll;
}
.eventDiv:hover {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.eventTheme {
  border-radius: 10px 10px 0px 0px;
  height: 40%;
}

.eventText {
  padding: 0px;
  margin: 0px;
  color: black;
  padding: 5px;
}

.noEvents {
  font-size: 20px;
  color: black;
  margin-top: 20px;
  text-align: center;
}
