:root {
  --defaultBackground: #008080;
  --navbarWidth: 20%;
}

h2 {
  font-size: 50px;
}
h3 {
  font-size: 30px;
}
h4 {
  font-size: 20px;
}
p {
  color: var(--defaultBackground);
}

/******** Landing Page Styling ********/
.landingPage {
  background-color: rgb(226, 226, 226);
  display: flex;
  position: fixed;
  min-height: fit-content;
  height: 100%;
  width: 100%;
}

@media (min-width: 1px) {
  h1 {
    font-size: 40px;
  }
  .landingPage {
    flex-direction: column;
  }
  .landingDiv {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
  }
}
@media (min-width: 750px) {
  h1 {
    font-size: 60px;
  }
  .landingPage {
    flex-direction: row;
  }
  .landingDiv {
    position: relative;
    width: 50%;
    height: 100%;
  }
}

/******* Login/Sign up *******/
.landingForm {
  display: flex;
  flex-direction: column;
}

.landingInput {
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin: 10px;
}

.Btn {
  color: white;
  border: thin solid rgb(158, 158, 158);
  border-radius: 5px;
  background-color: var(--defaultBackground);
  padding: 5px;
  margin: 10px;
  font-size: 20px;
  padding: 10px;
}

/******** Header Styling ********/
header {
  height: 80px;
  padding: 10px 30px 10px 30px;
  background-color: var(--defaultBackground);
  color: white;
}
.headerDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.headerText {
  color: white;
}

.headerText :hover {
  color: black;
}
/********* Navbar Styling *********/
.navbar {
  padding-top: 50px;
  background-color: rgb(230, 230, 230);
  position: absolute;
  height: 10000px;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  width: var(--navbarWidth);
  text-align: center;
}

.navLink {
  color: black;
  padding: 10px;
}

.secondDiv {
  position: fixed;
  bottom: 30px;
  width: var(--navbarWidth);
}
/********* Dashboard Styling *********/
.dashboard {
  position: relative;
  left: var(--navbarWidth);
  width: 70%;
  min-height: 700px;
  padding: 10px 50px;
}

/********* Create Event Styling ***********/
.createEvent {
  border: thin solid grey;
  border-radius: 5px;
  margin: 20px;
  padding: 20px;
}

.eventLabel {
  font-size: 20px;
  font-weight: 700;
  margin: 10px 0px 5px 0px;
}

.eventInput {
  font-size: 20px;
  border: thin solid rgb(233, 233, 233);
  border-bottom: 3px solid var(--defaultBackground);
  border-radius: 5px;
  padding: 5px;
}

/******** Logout & Settings Styling ********/
.logout {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/******* Your Events Page *******/
.yourEvents {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
}

.eventDiv {
  height: 300px;
}
